footer.footer.bg-dark-subtle.mt-3
  .container
    .row
      .col-md-12.text-center
        p Dic-2023

        div(class="")
            p  
                em 
                   mark(class=" rounded-3 text-decoration-underline link-underline-dark ") Hecho por Luis Lopez.
            