nav.navbar.navbar-expand-lg.bg-dark-subtle
    div.container.justify-content-center
        div
            a.navbar-brand(href="/") Registro de Clientes
        div.mx-auto.text-center
            ul.navbar-nav
                li.nav-item.mx-2
                    a.nav-link(href="/") Inicio
                li.nav-item.mx-2
                    a.nav-link(href="/listado") Listar Clientes
                li.nav-item.mx-2
                    a.nav-link(href="/registro") Registrar Clientes